.themeButton {
    position: fixed;
    background: #fff;

    @media only screen and (max-width: 960px){
        right: 20px;
        top: 20px;
        height: 50px;
        width: 50px;
    }

    @media only screen and (min-width: 960px) {
        right: 40px;
        bottom: 40px;
        height: 50px;
        width: 50px;
    }
}